<section>

  <h1>{{ copy.TITLE }}</h1>

  <form #nameForm="ngForm" (ngSubmit)="submit(nameForm)">

    <div>
      <label for="search">Tell me your name:</label>
      <input
        id="search"
        name="search"
        type="text"
        placeholder="search movie"
        required
        ngModel
      />
    </div>

    <button type="submit">Submit</button>

  </form>

  <h3>A list of movies:</h3>
  <ul *ngIf="movies$ | async as movies">
    <li *ngFor="let movie of movies">{{movie.Title}}</li>
  </ul>

</section>
