.d-none { display: none !important; }
.d-inline { display: inline !important; }
.d-inline-block { display: inline-block !important; }
.d-block { display: block !important; }
.d-table { display: table !important; }
.d-table-row { display: table-row !important; }
.d-table-cell { display: table-cell !important; }
.d-flex { display: flex !important; }
.d-inline-flex { display: inline-flex !important; }
.w-25 { width: 25% !important; }
.w-33 { width: 33.33% !important; }
.w-50 { width: 50% !important; }
.w-66 { width: 66.66% !important; }
.w-75 { width: 75% !important; }
.w-100 { width: 100% !important; }
.w-1280 { width: 1280px !important; }
