<section id="massages-new" class="mt64" fxLayoutAlign="center">
  <mat-card class="w-50">
    <mat-card-header>
      <mat-card-title>{{ copy['TITLE'][editMode ? 'EDIT' : 'NEW'] }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="massageForm">
        <div fxLayoutGap="16px">
          <mat-form-field hideRequiredMarker fxFlex="grow">
            <input
              matInput
              type="text"
              id="type"
              name="type"
              formControlName="type"
              [placeholder]="copy['PLACEHOLDERS']['TYPE']"
            />
          </mat-form-field>
          <mat-form-field hideRequiredMarker fxFlex="grow">
            <input
              matInput
              type="number"
              id="price"
              name="price"
              [placeholder]="copy['PLACEHOLDERS']['PRICE']"
              formControlName="price"
            />
          </mat-form-field>
        </div>
        <mat-form-field hideRequiredMarker class="w-100">
          <input
            matInput
            type="text"
            id="imageUrl"
            name="imageUrl"
            [placeholder]="copy['PLACEHOLDERS']['IMG_URL']"
            formControlName="imageUrl"
          />
        </mat-form-field>
        <mat-form-field hideRequiredMarker class="w-100">
          <textarea
            matInput
            id="description"
            name="description"
            [placeholder]="copy['PLACEHOLDERS']['DESC']"
            rows="5"
            formControlName="description"
          ></textarea>
        </mat-form-field>
        <div fxLayoutAlign="end">
          <button
            mat-button
            type="submit"
            color="primary"
            [disabled]="massageForm.pristine || massageForm.invalid"
            (click)="onSubmit()"
          >{{ copy['ACTIONS']['SUBMIT'][editMode ? 'EDIT' : 'NEW'] }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>
